body{
    color: azure;
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.greetings{
    font-size: 6rem;
    font-weight: 900;
    font-family: 'Caveat', cursive;
}
.greetings > span{
    animation: glow 4.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    20%, 50%{
        color: #111;
        text-shadow: none;
    }
}

.container{
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
}

.button a{
    text-decoration: none;
    font-size: 0.9rem;
    font-family: 'Quicksand', sans-serif;
    color: #111;
    background-color: white;
}

.button a:hover {
    background-color: #111;
    color: white;
}

@media screen and (max-width: 574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    
    .description{
        font-size: 1rem;
    }

    .button a{
        font-size: 0.8rem;
    }
}